#                          DataFrame

In [130]:
import pandas as pd
import numpy as np

In [131]:
DataF={"Types":["Care","Bike","Bus","Truck"],
       "Cost":[100,150,300,600]}

In [132]:
DataF

{'Types': ['Care', 'Bike', 'Bus', 'Truck'], 'Cost': [100, 150, 300, 600]}

In [133]:
type(DataF)

dict

In [134]:
dp=pd.DataFrame(DataF)

In [135]:
dp

   Types  Cost
0   Care   100
1   Bike   150
2    Bus   300
3  Truck   600

In [136]:
dp_Flip=dp.T

In [137]:
dp_Flip

          0     1    2      3
Types  Care  Bike  Bus  Truck
Cost    100   150  300    600

In [138]:
dp_Flip=dp_Flip.rename(columns ={ dp_Flip[0]:"Option 1"})

TypeError: unhashable type: 'Series'

In [ ]:
print("Name Is :" + "Mukund")

# The Python Operators
# 1. Arithmetic
# 2. Relational 
# 3. Logical
# 4. Membership
# 5. Bitwsie
# 6. Assigment

# ********************************

# 1. Arithmetic Operators


# g. Exponentiation

# a. Addition

In [ ]:
x=10
y=2
z=x+y
print(z)
type(z)

# b. Subtraction

In [ ]:
x=10
y=2
z=x-y
print(z)
type(z)

# c. Multiplication

In [ ]:
x=10
y=2
z=x*y
print(z)
type(z)

# d. Division

In [ ]:
x=10
y=2
z=x/y
print(z)
type(z)

# e. Modulus

In [ ]:
x=28
y=4
z=x%y
print(z)
type(z)

In [ ]:
x=5
y=428
z=x%y
print(z)
type(z)

#### Modulus ->Numerator ->Denominator it returns remainder else it returns x

# f. Floor Division

In [ ]:
x=27
y=4
z=x//y
print(z)
type(z)

#### FLoor Division ->Numerator ->Denominator it returns Quotient else it return 0

In [ ]:
x=3
y=2
z=x**y
print(z)
type(z)

In [ ]:
Name="Mukund"
Age=" 27"
NameAge=Name+Age

In [ ]:
NameAge

In [ ]:
Name="Mukund"
Age=" 27"
NameAge=Name-Age
NameAge

In [ ]:
Name="Mukund "
Age=2
NameAge=Name*Age
NameAge

In [ ]:
Name="Mukund "
Age="27"
NameAge=Name/Age
NameAge

## Relational Operatos

In [ ]:
x=1
y=8
x>y

In [ ]:
x=1
y=8
x==y

In [ ]:
x=1
y=8
x!=y

In [ ]:
x=1
y=8
x<=y

In [ ]:
x=1
y=8
x>=y

In [ ]:
x=1
y=8
x>y

In [ ]:
x=1
y=8
x<y

# Logical Operators

In [ ]:
x=False
y=True
z=True

In [ ]:
x and y

In [ ]:
x or y

In [139]:
x or z

True

In [143]:
y and not z

False

# Membership Operators

In [ ]:
## Runtime Variable assignment

# Assignment Opertors

In [145]:
a=8
b=2
a=a+b
a

10

In [146]:
a=8
b=2
a+=b
a

10

In [147]:
a=8
b=2
a-=b
a

6

In [148]:
a=8
b=2
a*=b
a

16

In [149]:
a=8
b=2
a%=b
a

0

In [150]:
a=8
b=2
a**=b
a

64

In [151]:
a=8
b=2
a//=b
a

4

### Conditional Statments

In [153]:
num=5
if num>0:
    print(num,"Is Greter Than Zero")

5 Is Greter Than Zero

In [154]:
num=5
if num<0:
    print(num,"Is Greter Than Zero")

In [157]:
num=5
if num<0:
    print(num,"Is Greter less than Zero")
else:
     print(num,"Is Greter Than Zero")

5 Is Greter Than Zero

In [158]:
num=-5
if num<0:
    print(num,"Is Greter less than Zero")
else:
     print(num,"Is Greter Than Zero")

-5 Is Greter less than Zero

In [159]:
num=-5
if num<0:
    print(num,"Is Greter less than Zero")
else:
     print(num,"Is Greter Than Zero")

-5 Is Greter less than Zero

In [164]:
age=int(input("Enter Age"))
if(0<age<3):
    print("No fares for Age group 0 - 3")
elif(3<age<10):
    print("Bus Fare is 10") 
elif(10<age<20):
    print("Bus Fare is 20")  
else:
    print("Bus Fare is 30")

Enter Age25
Bus Fare is 30

# "eval" takes integer or float

In [166]:
age=eval(input("Enter Age"))
if(0<age<3):
    print("No fares for Age group 0 - 3")
elif(3<age<10):
    print("Bus Fare is 10") 
elif(10<age<20):
    print("Bus Fare is 20")  
else:
    print("Bus Fare is 30")

Enter Age3.3
Bus Fare is 10

# 4th- June -2023 (Day-3)

In [168]:
n1=10
n2=34
n3=5
if (n1>n2):
    print(n1,"Is Greater")
else:
    if (n3>n2):
        print(n3,"Is Greater")
    else:
         print(n2,"Is Greater")

34 Is Greater

In [169]:
n1=34
n2=10
n3=5
if (n1>n2):
    print(n1,"Is Greater")
else:
    if (n3>n2):
        print(n3,"Is Greater")
    else:
         print(n2,"Is Greater")

34 Is Greater

In [177]:
n1=50
n2=10
n3=35
if (n1>n2 and n1>n3):
    print(n1,"N1 Is Greater")
else:
    if (n3>n2):
        print(n3,"N3 Is Greater")
    else:
         print(n2,"N2 Is Greater")

50 N1 Is Greater

In [178]:
User_id=input("Enter user id:")
Password=input("Enter Password:")
if (User_id=="Mukund"):
    if(Password=="Muk123"):
        print("Password Acceted, Logged in!!!!!")
    else:
        print("Wrond Password !!!!!")

Enter user id:Mukund
Enter Password:Muk123
Password Acceted, Logged in!!!!!

In [179]:
User_id=input("Enter user id:")
Password=input("Enter Password:")
if (User_id=="Mukund"):
    if(Password=="Muk123"):
        print("Password Acceted, Logged in!!!!!")
    else:
        print("Wrond Password !!!!!")

Enter user id:Mukund
Enter Password:Mukund123
Wrond Password !!!!!

In [181]:
User_id=input("Enter user id:")

if (User_id=="Mukund"):
    print("Enter you Password!!")
    Password=input("Enter Password:")
    if(Password=="Muk123"):
        print("Password Acceted, Logged in!!!!!")
    else:
        print("Wrond Password !!!!!")
else:
    print("Wrong User Id!!")

Enter user id:Mukun
Wrong User Id!!

# String Handling

In [182]:
Name="Mukund"
print(Name)
type(Name)

Mukund

str

In [183]:
text="I Love Python"

In [184]:
text[0]

'I'

In [185]:
text[-1]

'n'

In [186]:
text[4]

'v'

In [187]:
text[:-1]

'I Love Pytho'

In [188]:
text[::-1]

'nohtyP evoL I'

In [189]:
text[2:]

'Love Python'

In [190]:
text[2]

'L'

In [194]:
text[:-7:-1]

'nohtyP'

In [195]:
text[1:-1]

' Love Pytho'

In [196]:
RE=text[::-1]
RE
RE[-3]

'nohtyP evoL I'

In [197]:
RE[-3]

'L'

In [199]:
text.replace("Python","Data Science")

'I Love Data Science'

In [200]:
text.upper()

'I LOVE PYTHON'

In [201]:
text.lower()

'i love python'

In [203]:
text.title()

'I Love Python'

In [204]:
date="04","06","2023"
sep="/"
sep.join(date)

'04/06/2023'

In [206]:
text="*****Python*for*Data*Science********"
text.strip("*")

'Python*for*Data*Science'

In [208]:
text="*****Python*for*Data*Science"
text.strip("*")

'Python*for*Data*Science'

In [209]:
text="Python*for*Data*Science"
text.strip("*")

'Python*for*Data*Science'

## Concept of List

In [211]:
Sample_list=[1,2,3,"Hello"]
Sample_list

[1, 2, 3, 'Hello']

In [212]:
type(Sample_list)

list

### Elements in a list are seperated by comma and enclosed in squire brackets

### Hetrogenous->Multiple Data Types

### Have Duplicates

In [216]:
Book_lst=["Python","R","DS"]
print(Book_lst)
type(Book_lst)

['Python', 'R', 'DS']

list

In [219]:
Book_lst=["Python","R","DS"]
novels=["Lord of the ringd","Herry Potter"]
library=Book_lst+novels
library

['Python', 'R', 'DS', 'Lord of the ringd', 'Herry Potter']

In [221]:
novels.append("Jumanji")
novels

['Lord of the ringd', 'Herry Potter', 'Jumanji', 'Jumanji']

In [222]:
novels.insert(3,"Leader")
novels

['Lord of the ringd', 'Herry Potter', 'Jumanji', 'Leader', 'Jumanji']

In [225]:
Avg_Prices=[23,2,3,4,5,6,12,]
Avg_Prices.sort()

In [226]:
Avg_Prices

[2, 3, 4, 5, 6, 12, 23]

In [229]:
prod=["Mango","Apple","Banana"]
prod.sort(reverse=True)
prod

['Mango', 'Banana', 'Apple']

In [230]:
Avg_Prices=[23,2,3,4,5,6,12,12.5,13]
Avg_Prices.sort()
Avg_Prices

[2, 3, 4, 5, 6, 12, 12.5, 13, 23]

In [233]:
Avg_Prices=[23,2,3,4,5,6,12,12.5,13,"Hi"]
Avg_Prices.sort()
Avg_Prices

TypeError: '<' not supported between instances of 'str' and 'int'

In [238]:
Avg_Prices=[23,2,3,4,5,6,12,12.5,13]
sorted(Avg_Prices,reverse=True)

[23, 13, 12.5, 12, 6, 5, 4, 3, 2]

In [240]:
prices=[1,2,3,4,5,-1,6]
max(prices)

6

In [241]:
min(prices)

-1

In [242]:
len(prices)

7

In [243]:
prices.clear()

In [245]:
prices=[2,2,2,3,4,5,6,2,2,2,2,2]
prices.count(2)

8

In [247]:
items=["Apple","Banana"]
prices.extend(items)

In [248]:
prices

[2, 2, 2, 3, 4, 5, 6, 2, 2, 2, 2, 2, 'Apple', 'Banana']

In [249]:
prices.index(4)

4

In [250]:
prices.index("Apple")

12

In [252]:
prices.insert(3,"Mukund")

In [1]:
prices.pop()

NameError: name 'prices' is not defined

In [254]:
prices

[2, 2, 2, 'Mukund', 3, 4, 5, 6, 2, 2, 2, 2, 2, 'Apple']

In [255]:
prices.remove("Apple")

In [256]:
prices

[2, 2, 2, 'Mukund', 3, 4, 5, 6, 2, 2, 2, 2, 2]

In [257]:
prices.reverse()

In [258]:
prices

[2, 2, 2, 2, 2, 6, 5, 4, 3, 'Mukund', 2, 2, 2]

In [263]:
products=["Apple","BAL","CAR","DOG"]
for H in products:
    print(H)

Apple
BAL
CAR
DOG

In [264]:
prices[0:3]

[2, 2, 2]

In [265]:
prices[3:7]

[2, 2, 6, 5]

### List is mutable -> changeable after creating

# 10th May 2023 (Day 4)

# 2. Tuple
### 1. Container Object
### 2. Heterogenous->Multiple Data
### 3. Can have duplicates
### 4. Immutable
### 5.Element are seperated by comma, enclosed in paranthesis or without any brackets

In [4]:
sample_tuple=(1,2,3,4,"hi")
sample_tuple

(1, 2, 3, 4, 'hi')

In [3]:
sample_tuple2=1,2,3,4,"hi"
sample_tuple2

(1, 2, 3, 4, 'hi')

In [5]:
type(sample_tuple2)

tuple

In [11]:
sample_tuple3=1,2,3,4

In [12]:
sample_tuple3[1]

2

In [13]:
sample_tuple3[10]

IndexError: tuple index out of range

In [14]:
sample_tuple3.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [15]:
sorted(sample_tuple3)

[1, 2, 3, 4]

In [16]:
sample_tuple3[::-1]

(4, 3, 2, 1)

In [19]:
sorted(sample_tuple3,reverse=True)

[4, 3, 2, 1]

In [21]:
n=2
tuple3=1,2,3,4
rep_tup=tuple3*n
rep_tup

(1, 2, 3, 4, 1, 2, 3, 4)

In [22]:
sample_tupl=(1,2,3,4)
sample_tupl2=(3,5,6,"18")
sample_tupl3=sample_tupl+sample_tupl2
sample_tupl3

(1, 2, 3, 4, 3, 5, 6, '18')

In [23]:
print(2 in sample_tupl3)

True

In [24]:
print(10 in sample_tupl3)

False

In [25]:
print(10 not in sample_tupl3)

True

In [40]:
books=("Python","R","Excel")
for evry_tool in books:
    len(evry_tool)
    print(evry_tool)

Python
R
Excel

In [30]:
len(evry_tool)

5

In [37]:
prices=(100,200,300,400)
max(prices)

400

In [39]:
prices.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
prices

(100, 200, 300, 400)

In [43]:
prices[2].append(10)

AttributeError: 'int' object has no attribute 'append'

In [45]:
price=([1,3,4],3,45)
price[0].append(100)

In [46]:
price

([1, 3, 4, 100], 3, 45)

In [49]:
tuple1 = ('apple', )
print (type(tuple1))

<class 'tuple'>

# Dictionary

### 1. Key value pair
### 2. {}
### 3. Indexing -[]
### 4. Mutable- Changable
### 5. No Duplicats

In [52]:
dict={'name':"Mukund",'hobbies':["Coding","Cooking","Reading"],1:23}

In [53]:
dict

{'name': 'Mukund', 'hobbies': ['Coding', 'Cooking', 'Reading'], 1: 23}

In [54]:
dict.keys()

dict_keys(['name', 'hobbies', 1])

In [55]:
dict['name']

'Mukund'

In [57]:
dict.values()

dict_values(['Mukund', ['Coding', 'Cooking', 'Reading'], 23])

In [58]:
dict['name']="Arunam"

In [60]:
dict['name']

'Arunam'

In [61]:
del dict["name"]

In [62]:
dict["name"]

KeyError: 'name'

In [64]:
dict.insert('H':"Height")

SyntaxError: invalid syntax (4179713720.py, line 1)

In [66]:
dict.update({'H':"Height"})

In [67]:
dict

{'hobbies': ['Coding', 'Cooking', 'Reading'], 1: 23, 'H': 'Height'}

In [70]:
dict_items('hobbies': ['Coding', 'Cooking', 'Reading'], 1: 23, (1,23), ('class','ds'))

SyntaxError: invalid syntax (1160905863.py, line 1)

### 1. No Duplicate
### 2. Not retiev the set
### 3. Set is mutable
### 4. Set has{}
### 5. Ordered-first place

# Loops

In [74]:
num=10
addition=0
i=1
while(i<=num):
    addition = addition+i
    i=i+1

print("Addition is", addition)

Addition is 55

In [76]:
num=10
addition=0
i=1
while(i<=num):
    addition = addition-i
    i=i+1

print("Addition is", addition)

Addition is -55

In [86]:
num=11
addition=0

for i in range(1,num):
    addition = addition+i

    
print("Addition is", addition)

Addition is 55

In [91]:
Name="Mukund"

for i in Name:
    if(i=='k'):
        break
    print(i)
print("Loop Stopped")

M
u
Loop Stopped

In [93]:
Name="Mukund Thakur"

for i in Name:
    if(i==' '):
        continue
    print(i)
print("Loop Stopped")

M
u
k
u
n
d
T
h
a
k
u
r
Loop Stopped

In [111]:
for i in range(1,5):
    for j in range(i):
            print(i, end=" ")
            
    print("\n")

1

2 2

3 3 3

4 4 4 4